$primary-color: rgb(32, 35, 41);
$secondary-color: rgb(60, 62, 68);
$white-color: rgb(255, 255, 255);
$blue-color: blue;
$gray-color: gray;
$red-color: #d7443e;
$black-color-opacity-05: rgba(0, 0, 0, 0.5);
$black-color: rgba(0, 0, 0);
// mediaquery sizes
$desktop-s: 1025px;
$desktop-l: 1441px;
$desktop-xl: 2561px;
$tablet: 769px;
$mobile-l-px: 426px;
$mobile-m-px: 376px;
$mobile-s-px: 321px;

$product-card-size: 280px;
